html, body {
  height: 100%;
  width: 100%;
}
h1, h2 {
  text-align: center;
}
a {
  margin: 230px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  flex-basis: 100%;
}
.text {
  padding-right: 300px;
  padding-left: 300px;
}
.text2 {
  padding-right: 400px;
  padding-left: 400px;
}
.text3 {
  padding-right: 340px;
  padding-left: 340px;
}
.text4 {
  padding-right: 360px;
  padding-left: 360px;
}